/*: mobile ~ 767 */

@media ( max-width: 767px ){
    /* common */
    .tiles {display: block; margin-top: 50px;}
    .tiles article {width: 100%; margin-bottom: 50px;}
    .tiles article:last-child {margin-bottom: 0;}
    .tiles article .article_img {padding-top: 65%;}
    .tiles__btn-list {width: 224px;}
    .tiles .text-wrap .btn__primary span {font-size: 18px;}

    .section .title { padding: 0 2.13em;}
    .section .title h2 {margin-top: 1.4em;}
    .section .title h2 + p {margin-top: 8px;}


    /* header */
    header .inner {padding: 0 32px;}
    header .header__logo {padding: 0; margin-top: 20px;}
    header .header__logo a {width: 53px; height: 72px;}
    header .header__logo a img {max-width: 100%;}

    header .nav {padding: 0;}
    header .nav .gnb__button {display: grid; grid-template-rows: repeat(2, 1fr); float: right; width: 60px; height: auto; margin-top: 20px; cursor: pointer; box-sizing: border-box;}
    header .nav .gnb__button span {display: inline-block; width: 100%; height: 8px; margin-bottom: 20px; background: #ff817e; box-sizing: border-box; transition: .3s;}
    header .nav .gnb__button span:last-child{margin-bottom: 0;}
    header .nav .gnb__button span:nth-child(2){left:0%;}

    header .nav .addClosebar {position: relative; padding-top: 40px;}
    header .nav .addClosebar span {position: absolute; top: 50%; transition: .3s;}
    header .nav .addClosebar span:nth-child(1){transform: rotate(-135deg);}
    header .nav .addClosebar span:nth-child(2){opacity: 0;}
    header .nav .addClosebar span:nth-child(3){transform: rotate(135deg);}


    /* click - nav__bar  */
    header .nav__bar{display: none;}
    header .nav ul.nav__bar--on{display: block; position: absolute; left: 100%; width: 100%; opacity: 0;}
    header .nav ul.nav__bar--on {top: 110px; width: 100%; padding: 10px 0; box-sizing: border-box;}
    header .nav ul.nav__bar--on li {width: 100%; margin-right: 0%; text-align: center; border-bottom: 1px solid #fff;}
    header .nav ul.nav__bar--on li a{padding: 15px 0; font-size: .8rem; color: #fff; background: #ff817e;}


    /* banner */
    .banner {margin-top:60px; padding: 0; background-size: 150px 290px; background-position: 0 0;}
    .banner .inner {padding-left: 160px; box-sizing: border-box;}
    .banner .inner .title {padding: 0 0;}
    .banner .inner .title h2 {margin: 23px 0;}
    .banner .inner .title p {margin-top: 0; line-height: 1.86em;}
    .banner .banner__btn {display: block; margin-top: 50px;}
    .banner .banner__btn-submit {width: 170px; height: 50px; margin-right: 0;}
    .banner .banner__btn-play{margin-top: 47px;}

    .about {padding-top: 200px; background: none;}
    .about .title {padding: 103px 0 0;}
    .about .title::before{width: 84px; height:70px; top: -40%;}
    .about .title span {font-size: 20px;}
    .about .title h2 {font-size: 42px; margin-top: 30px;}
    .about .title p {font-size: 15px;}
    .about .title + button {margin-top: 66px;}
    .about .btn__primary--pink {width: 170px; height: 50px; font-size: 13px;}


    /* .feature */
    .feature{margin-top: 77px;}
    .feature .feature__cont {position: relative; width: 100%;}
    .feature .feature__cont ul li {width: 62.05%; height: 286px; padding-top: 0; background-position: 50% 45%;}
    .feature .feature__cont ul li:hover { background-size: 30px; background-position: 50% 45%; }
    .feature .feature__cont ul li span {position: absolute; top: 50%; left: 50%; transform: translate(-50%); font-size: 1.46em;}

    /* service */
    .service .tiles{display: block; margin-top: 70px; padding: 0 82px;}
    .service .tiles h2{margin-top: 80px; line-height: 1.5em;}
    .service .tiles article {width: 100%; margin-bottom: 50px;}
    .service .tiles article:last-child{margin-bottom: 0;}

    .service .service__cont .text-wrap h3 {margin: 47px 0 30px 0; font-size: 30px;}
    .service .service__cont .text-wrap p {font-size: 20px;}

    /* testimonials */
    .testimonials {margin-top: 72px; overflow-y: hidden;}
    .testimonials .slider__arrow-inner {width: 90%;}
    .testimonials .indicator {bottom: 15%;}



    /* team */
    .team .title h2 {margin-top: 50px;}
    .team .team__cont ul {padding: 0 82px;}
    .team .team__cont .team__manager {width: 100%; margin-bottom: 160px; margin-right: 0;}
    .team .team__cont .team__manager figure {position: relative; height: 672px;}
    .team .team__cont .team__manager figcaption {top: 515px; left: 50%; width: calc(100% - 119px); height: 265px; margin: 0; transform: translateX(-50%);}
    .team .team__cont .team__manager figcaption h3 {font-size: 2.26em;}
    .team .team__cont .team__manager figcaption p {font-size: 1.53em;}

    .team .team__manager .btn__sns {display: flex; justify-content: center;}
    .team .team__manager .btn__sns ul {width: 250px; height: 48px; margin: 0; padding: 0;}
    .team .team__cont .btn__sns li {width: 47px; height: auto;}
    .team .team__cont .btn__sns li a {background-size: cover;}
    .team .team__cont .btn__sns li:hover a {background-size: cover;}
    .team .team__cont .btn__sns li a:focus {background-size: cover;}

    .team .team__cont .btn__sns li:nth-child(2) a {background-position-x: -61px;}
    .team .team__cont .btn__sns li:nth-child(3) a {background-position-x: -126px;}
    .team .team__cont .btn__sns li:nth-child(4) a {background-position-x: -192px;}

    .team .team__cont .btn__sns li:nth-child(2):hover a {background-position-x: -61px;}
    .team .team__cont .btn__sns li:nth-child(2) a:focus{background-position-x: -61px;}
    .team .team__cont .btn__sns li:nth-child(3):hover a {background-position-x: -126px;}
    .team .team__cont .btn__sns li:nth-child(3) a:focus {background-position-x: -126px;}
    .team .team__cont .btn__sns li:nth-child(4):hover a {background-position-x: -192px;}
    .team .team__cont .btn__sns li:nth-child(4) a:focus {background-position-x: -192px;}


    /* .reserved */
    .reserved .reserved__wrap .reserved__cont {padding: 127px 0;}
    .reserved .reserved__wrap .reserved__cont input, select {width: 320px;}
    .reserved .reserved__wrap .reserved__cont .form__note {margin-bottom:40px;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink {width: 200px; height: 50px;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink span {font-size: 0.83rem;}

    /* section--blog */
    .blog__cont {padding: 0 82px;}
    .blog .article__blog-tiles .text-wrap .blog__date {margin-top: 50px; margin-bottom: 0; font-size: 19px; line-height: 2em;}
    .blog .article__blog-tiles .text-wrap h3 {margin-top: 17px; font-size: 35px;}
    .blog .article__blog-tiles .text-wrap p {margin-top: 20px; font-size: 22px;}

    /* .contact */
    .contact .contact__cont {display: block;}
    .contact .contact__cont .contact__info {width: 100%; margin-right: 0;}
    .contact .contact__cont .contact__info li {margin-bottom: 47px;}

    .contact .contact__cont .contact__form {width: 100%;}
    .contact .contact__cont .contact__form .input--board {margin-bottom: 0;}

    /* footer */
    .footer {margin-top: 50px;}
    footer .inner {padding: 110px 32px 0 32px;}
    footer .footer__logo {width: 115px;}
    footer .inner .footer-nav__bar {width: 100%; font-size: 0.933em;}
    footer .inner .footer-nav__bar .nav__bar {margin: 45px 82px 0;}

    footer .footer__sns {margin-top: 45px;}
    footer .footer__sns ul .facebook::before {left: 10px;}
    footer .footer__sns ul li::before {left: 21px;}
    footer .footer__sns .footer__sns--type02 .facebook::before {left: 17px;}
    footer .footer__sns .footer__sns--type02 li::before {left: 21px;}
    footer .footer__sns .footer__sns--type03 .facebook::before {left: 17px;}
    footer .footer__sns .footer__sns--type03 li::before {left: 21px;}

}



@media ( max-width: 383px ){
    /* common */
    .section .title { padding: 0 2.13em; margin: 0;}
    .section .title h2 {font-size: 20px; margin-top: .8em;}
    .title p{font-size: 8px;}

    /* common - tiles */
    .tiles {display: block; margin-top: 50px;}
    .tiles article {width: 100%; margin-bottom: 50px;}
    .tiles article:last-child {margin-bottom: 0;}
    .tiles__btn-list {width: 112px; height:24px; margin-top: 20px; margin-bottom: 14px;}
    .tiles .text-wrap .btn__primary span {font-size: 10px;}
    .tiles article .article_img--frame {padding: 10px;}


    /* header */
    header .inner {padding: 0 16px;}
    header .header__logo {margin-top: 10px;}
    header .header__logo a{ width: 26px; height: 36px;}
    header .nav .gnb__button {width: 30px; margin-top: 10px;}
    header .nav .gnb__button span {height: 4px; margin-bottom: 10px;}
    header .nav ul.nav__bar--on {top: 54px; padding: 6px 0;}
    header .nav ul.nav__bar--on li a {padding: 1em 0; font-size: 0.4rem;}

    /* banner */
    .banner {margin-top: 30px; background-size: 74px 144px;}
    .banner .inner {padding: 0 12px 0 80px;}
    .banner .inner .title h2 {margin: 12px 0; font-size: 30px;}
    .banner .banner__btn {margin-top: 25px;}
    .banner .banner__btn-submit {width: 120px; height:25px; padding-left: .95em;}
    .banner .banner__btn-submit span {padding-left: 0; font-size: .43rem;}

    /* about */
    .about {padding-top: 100px;}
    .about .title span {font-size: 10px;}
    .about .title p { font-size: 8px;}
    .about .title::before {width: 42px; height: 36px; top: -40px;}
    .banner .banner__btn-play { width: 120px; margin-top: 28px;}
    .banner .banner__btn-play::before { width: 22px; height: 22px;}
    .banner .banner__btn-play::after {left: 12px; top: 9px; border: 4px solid transparent; border-color: transparent transparent #ff817e transparent;}
    .banner .banner__btn-play .banner__btn-play-tit {margin-left: 42px; font-size: 0.5rem;}

    /* feature */
    .feature {margin-top: 34px;}
    .feature .feature__cont ul li {background-size: 14px;}
    .feature .feature__cont ul li:hover {background-size: 14px;}
    .feature .feature__cont ul li span {font-size: 0.8em;}

    /* service */
    .service .tiles {margin-top: 34px; padding: 0 40px;}
    .service .service__cont .text-wrap h3 {margin: 24px 0 16px 0; font-size: 16px;}
    .service .service__cont .text-wrap p {font-size: 10px;}
    .service .tiles article {margin-bottom: 24px;}

    /* testimonials */
    .testimonials {height: 357px; margin-top: 36px;}
    .testimonials .article__testimonials {background-size: 30px 24px; background-position-y: 66px; }
    .testimonials .testimonials__item p {margin:114px 14px 0; font-size: 0.6rem;}
    .testimonials .testimonials__item .testimonials__photo {width: 38px; height: 38px; margin: 22px auto 0; background-size: cover;}
    .testimonials .testimonials__item .testimonials__name {margin-top: 14px; font-size: 7px;}
    .testimonials .indicator  {bottom: 20px; width: 15%;}
    .testimonials .indicator .indicator__btn {width: 4px; height: 4px; }
    .testimonials .indicator .indicator--play-pause {position: relative; width: 6px; height: 6px;}
    .testimonials .indicator .indicator--play-pause button {position: absolute; top:0; left:0; width: 100%; height:100%; background-position-x: 32px; background-position-y: 0; background-size: 74px;}
    .testimonials .indicator__btn button span {opacity: 0;}

    .testimonials .indicator .is-pause button {background-position-x: 18px; background-position-y: -5px; background-size: 50px;}

    .testimonials .slider__arrow{position: absolute; bottom: 20%; height: 0;}
    .testimonials .slider__arrow a {width: 12px; height: 22px; }
    .testimonials .slider__arrow .slider__arrow-btn--next {background-position-x: 72px; }

    /* team */
    .team .team__cont ul {padding: 0 40px;}
    .team .team__cont .team__manager {margin-bottom: 80px;}
    .team .team__cont .team__manager figure {height: 330px; }
    .team .team__cont .team__manager figcaption {top: 256px; width: calc(100% - 60px); height: 132px;}
    .team .team__cont .team__manager figcaption h3 {font-size: 18px; margin-top: 0.5em;}
    .team .team__cont .team__manager figcaption p {font-size: 12px;}
    .team .team__cont .team__manager figcaption .btn__sns {margin: 14px 0;}
    .team .team__manager .btn__sns ul {width: 124px; height: 24px;}
    .team .team__cont .btn__sns li {width: 24px;}

    .team .team__manager .btn__sns li:nth-child(2) a {background-position-x: -30px;}
    .team .team__manager .btn__sns li:nth-child(3) a {background-position-x: -63px;}
    .team .team__manager .btn__sns li:nth-child(4) a {background-position-x: -96px;}

    /* tiles hover */
    .team .team__manager .btn__sns li:nth-child(2):hover a {background-position-x: -30px;}
    .team .team__manager .btn__sns li:nth-child(2) a:focus{background-position-x: -30px;}
    .team .team__manager .btn__sns li:nth-child(3):hover a {background-position-x: -63px;}
    .team .team__manager .btn__sns li:nth-child(3) a:focus {background-position-x: -63px;}
    .team .team__manager .btn__sns li:nth-child(4):hover a {background-position-x: -96px;}
    .team .team__manager .btn__sns li:nth-child(4) a:focus {background-position-x: -96px;}

    /* reserve */
    .reserved {height: 335px; margin-top: 0; padding: 0 16px;}
    .reserved .reserved__wrap .reserved__cont {padding: 62px 0;}
    .reserved .reserved__wrap .reserved__cont input, select {float:left; width: 150px; box-sizing: border-box; margin-right: 29px; margin-bottom: 20px; padding-bottom: 0.8em; font-size: 0.4rem;}
    .reserved .reserved__wrap .reserved__cont .form__note {width: 100%;}
    .reserved .reserved__wrap .reserved__cont .reseve__date {background: url(../images/date.png)no-repeat 99% 0px;}
    .reserved .reserved__wrap .reserved__cont .reseve__time {background: url(../images/time.png)no-repeat 99% 0px;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink { width: 120px; height: 24px;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink span { font-size: 0.4rem;}

    /* blog */
    .blog__cont {margin-top: 34px; padding: 0 40px;}
    .blog .article__blog-tiles .text-wrap .blog__date { margin-top: 24px; font-size: 8px;}
    .blog .article__blog-tiles .text-wrap h3 {margin: 24px 0 16px 0; font-size: 16px;}
    .blog .article__blog-tiles .text-wrap p {font-size: 10px; margin-top: 0;}
    .blog .tiles article {margin-bottom: 24px;}

    /* contact */
    .contact .contact__cont {padding: 30px 60px 0;}
    .contact .contact__cont .contact__info li { margin-bottom: 24px;}
    .contact .contact__cont .contact__info li h3 {width: 25px; height: 25px; background-position: 8px; background-size: 10px; }
    .contact .contact__cont .contact__info li p {font-size: 0.4rem; margin-left: 14px;}

    .contact .contact__cont .contact__form input {height: 24px; margin-bottom: 10px; padding: 10px 0 10px 10px; font-size: 0.4rem; border-radius: 0;}
    .contact .contact__cont .contact__form .input--board {height: 76px; padding: 14px 0 50px 10px;}
    .contact .contact__cont .contact__form .btn__primary--pink { width: 85px; height: 24px; margin-top: 6px; font-size: 6px; }

    /* button */
    .about .title + button {margin-top: 44px;}
    .about .btn__primary--pink {width: 84px; height: 26px; font-size: 8px;}


    /* footer */
    footer {margin-top: 26px;}
    footer .inner {padding: 50px 16px 0 16px;}
    footer .footer__logo {width: 58px; height: 40px;}
    footer .inner .footer-nav__bar {padding-top: 24px;}
    footer .inner .footer-nav__bar .nav__bar {margin: 0;}
    footer .inner .footer-nav__bar .nav__bar li a {font-size: 0.53em;}
    footer .footer__sns {margin-top: 24px;}
    footer p {padding: 24px 0; font-size: 0.4em;}

    footer .footer__sns {margin-top: 45px;}
    footer .footer__sns ul li::before {height: 8px; left: 12px;}
    footer .footer__sns ul .facebook::before {left: 9px;}

    /* type01 */
    footer .footer__sns .footer__sns--type01 li a {background: url(../images/sns_sprite_mo.png)no-repeat;}
    footer .footer__sns .footer__sns--type01 .facebook a {width: 6px; height: 8px; background-position-x: 0;}
    footer .footer__sns .footer__sns--type01 .twitter a {width: 8px; height: 8px; background-position-x: -25px;}
    footer .footer__sns .footer__sns--type01 .instagram a {width: 8px; height: 8px; background-position-x: -50px;}
    footer .footer__sns .footer__sns--type01 .vingle a {width: 8px; height: 8px; background-position-x: -75px;}

    footer .footer__sns .footer__sns--type01 li:hover a {background: url(../images/sns_sprite_mo.png)no-repeat;}
    footer .footer__sns .footer__sns--type01 .facebook:hover a {width: 6px; height: 8px; background-position: 0 -50px;}
    footer .footer__sns .footer__sns--type01 .twitter:hover a {width: 8px; height: 8px; background-position: -25px -25px;}
    footer .footer__sns .footer__sns--type01 .instagram:hover a {width: 8px; height: 8px; background-position: -50px -25px;}
    footer .footer__sns .footer__sns--type01 .vingle:hover a {width: 8px; height: 8px; background-position: -75px -25px;}


    /* type02 */
    footer .footer__sns .footer__sns--type02 li::before {height: 8px; left: 12px;}
    footer .footer__sns .footer__sns--type02 li a {width: 8px; height: 8px;}
    footer .footer__sns .footer__sns--type02 li a::before {width: 8px; height: 8px; background: url(../images/sns_sprite_mo.png)no-repeat;}

    footer .footer__sns .footer__sns--type02 .facebook::before {left: 9px;}
    footer .footer__sns .footer__sns--type02 .facebook a::before {background-position-x: 0;}
    footer .footer__sns .footer__sns--type02 .twitter a::before {background-position-x: -25px;}
    footer .footer__sns .footer__sns--type02 .instagram a::before {background-position-x: -50px;}
    footer .footer__sns .footer__sns--type02 .vingle a::before {background-position-x: -75px;}

    footer .footer__sns .footer__sns--type02 li:hover a::before {background: url(../images/sns_sprite_ex.png)no-repeat;}
    footer .footer__sns .footer__sns--type02 .facebook:hover a::before {background-position: 0 -25px;}
    footer .footer__sns .footer__sns--type02 .twitter:hover a::before {background-position: -25px -25px;}
    footer .footer__sns .footer__sns--type02 .instagram:hover a::before {background-position: -50px -25px;}
    footer .footer__sns .footer__sns--type02 .vingle:hover a::before {background-position: -75px -25px;}


    /* footer - type03 */
    footer .footer__sns .footer__sns--type03 .facebook {margin: 0 0.70% 0 1.14%;}
    footer .footer__sns .footer__sns--type03 li::before {left: 12px;}
    footer .footer__sns .footer__sns--type03 .facebook::before {left: 9px;}

    footer .footer__sns .footer__sns--type03 li a {width: 8px; height: 8px; background: url(../images/sns_sprite_mo.png)no-repeat;}
    footer .footer__sns .footer__sns--type03 .facebook a {background-position-x: 0;}
    footer .footer__sns .footer__sns--type03 .twitter a {background-position-x: -25px;}
    footer .footer__sns .footer__sns--type03 .instagram a {background-position-x: -50px;}
    footer .footer__sns .footer__sns--type03 .vingle a {background-position-x: -75px;}

    footer .footer__sns .footer__sns--type03 li:hover a {background: url(../images/sns_sprite_mo.png)no-repeat;}
    footer .footer__sns .footer__sns--type03 .facebook:hover a {background-position: 0 -25px;}
    footer .footer__sns .footer__sns--type03 .twitter:hover a {background-position: -25px -25px;}
    footer .footer__sns .footer__sns--type03 .instagram:hover a {background-position: -50px -25px;}
    footer .footer__sns .footer__sns--type03 .vingle:hover a {background-position: -75px -25px;}
}


@media ( max-width: 320px ){
    .reserved {height: 425px;}
}