
/* HEADER */
header {position: relative;}
/* header::after {position: absolute; top: 0; right: 0%; width: 43.82%; height: 890px; background: url(../images/bg_02.png)no-repeat; content: '';} */
header .inner {display:flex;}
header .header__logo {padding: 1.75% 0 0 8.421%;}
/* header .header__logo a {display: block; width: 54px; height: 82px;} */
header .header__logo a {display: block; width: 4.73%; height: 7.19%;}
header .nav { width:100%; padding: 6.49% 0 0 18.77%; z-index: 9998;}
header .nav .gnb__menu--bar { display: none; }
header .nav ul li {margin-right: 5.805%;}

.header_bg{position: absolute; top: 0; right: 0%; width: 43.82%; height: 890px; }
.header_bg img{max-width: 100%;}

/* skip--menu__accessbility */
.skip--menu {position: absolute; width: 100%; z-index: 9999;}
.skip--menu ul li a {display: block; position: absolute; top: -100px; left: 0; width: 100%; height:50px; background: #ff817e; color:#fff; font-weight: bold; font-size: 20px; text-align: center; line-height:50px; box-sizing:border-box;}
.skip--menu ul li a:focus {top:0;}


/* 1. section--banner */
/* .section--banner { padding-top: 9.98%; background: url(../images/bg_01.png)no-repeat left bottom; background-size: 12.559% 533px;} */
.section--banner { padding: 9.98% 0 0 20.49%; background: url(../images/bg_01.png)no-repeat left bottom; background-size: contain;}
.section--banner .inner {text-align: left; margin : 0; }
.section--banner .title {font-family: 'Rufina', serif;}
.section--banner .title strong {font-weight: 400; color: #ff817e; font-size: 1em; line-height: 1.33em; letter-spacing: .1em; text-transform: uppercase;}
.section--banner .title h2 {margin-top: 1.75%; font-weight: 700; font-size: 4em; line-height: 1.3em; color: #000;}
.section--banner .title p {margin-top: 2.45%; font-family: 'Roboto', sans-serif; font-size: 1em; line-height: 1.666em; color: #000;}
.section--banner .title p + p {margin-top: 0;}
.section--banner .banner__btn {display:flex; margin-top: 4.561%;}
.section--banner .btn--submit {width: 14.912%; height: 50px; margin-right: 4.912%; border: none; background: #ff817e; font-weight: 500; color: #fff; cursor: pointer;}
.section--banner .btn--submit:hover {color: #000;}
.section--banner .btn--submit span {display: inline-block; width: 100%; padding-left: 14.70%; font-size: 86%; text-align: left; box-sizing: border-box;}
.section--banner .banner__btn em {position: relative;}
.section--banner .banner__btn em::after {position: absolute; top: 50%; transform: translateY(-50%); width: 12.76%; height: 11px; margin-left: 6.66%; background-image: url(../images/arrow_btn_.png); background-position: -54px -20px; content: ''; }
.section--banner .btn--submit:hover em::after {background-position-x:-66px;}

/* .section--banner .banner__summary--play { width: 15.789%; height: 50px; font-size: 1em; font-weight: 500; cursor: pointer; border: 1px solid #000; } */
.section--banner .banner__summary--play { display: flex; width: 15.789%; height: 50px; font-size: 1em; font-weight: 500; cursor: pointer; border: 1px solid #000; }
.section--banner .banner__summary--play .btn--play { position: relative; margin-right: 10px; width: 29.41%; height: 50px; border-radius: 50%; background-color: #fcf5ee; box-sizing: border-box;}
.section--banner .banner__summary--play .btn--play .playbtn_img{ overflow: hidden; position: absolute; top: 50%; left: 56%; transform: translate(-50%, -50%); width:20%; height:10px; }
.section--banner .banner__summary--play .btn--play .playbtn_img img{ position: absolute; top: -10px; left: -55px;}

.section--banner .banner__summary--play .btn__play--tit { display: inline-block; font-size: 86%; line-height: 3.2em;}


/* 2. section--about */
.section--about { padding-top: 19.442%; background: url(../images/bg_04.png)no-repeat, url(../images/bg_03.png)no-repeat; background-size: 6.83% auto, 4.62% auto; background-position-x: 17.07%, 89.33%; background-position-y: calc(100% - 370px), calc(100% - 235px); }
.section--about .title {position: relative;}
.section--about .butterfly::before {position: absolute; left: 50%; top: -50%; width: 7.543%; height: 74px; background: url(../images/logo.png)no-repeat; background-size: contain; transform: translateX(-50%); content: '';} /* height : js */
.section--about .title h2{position: relative; margin-top: 1.140%;}
.section--about .title span { letter-spacing: 0.1333em;}
.section--about .btn__primary--pink { width: 14.912%; height: 50px; } /* height : js */


/* 3. section--feature -- responsive */
.section--feature {margin-top: 140px;}
.section--feature .feature__cont ul {display: flex; justify-content: center;}
.section--feature .feature__cont ul li { width: 25.0656%; margin-right: 0.2627%; background: #ddd; background-position: 50% 45%; background-repeat : no-repeat; background-size : cover; text-align: center; box-sizing: border-box;}
.section--feature .feature__cont ul li > div {padding: 66.10% 0 52.54%;}
.section--feature .feature__cont ul li:last-child {margin-right: 0;}
.section--feature .feature__cont ul li span { visibility: hidden; font-family: 'Rufina', serif; font-weight: 500; font-size: 0.9566em; color: #fff;}

.section--feature .feature__cont ul li:hover {background:#ff817e url(../images/hover_herbal.png)no-repeat; background-position: 50% 45%; background-size: 9.9576% 8.8981%; transition: ease-in-out .3s;}
.section--feature .feature__cont ul li:hover span {visibility: visible;}




/* 4. section--service -- responsive */

.section--service .article__service-tiles { height: 100%; }
.section--service .article__service-tiles .article_padding {padding: 5.55%;}
.section--service .article__service-tiles button.btn__primary { width: 53.125%; }
.section--service .article__service-tiles button.btn__primary span { width: 53.125%; }

/* .section--service .tiles article .summary--img {width: 100%; height:264px; background: #999;}
.section--service .tiles article .summary--img img { max-width: 100%; box-sizing: border-box;} */

.section--service .tiles article .summary--img {width: 100%; height:264px; background: #999;}
.section--service .tiles article .summary--img img { max-width: 100%; box-sizing: border-box;}


.section--service .service__cont .text-wrap { width: 100%; } /*fz : 15*/
.section--service .service__cont .text-wrap h3 {margin: 11.25% 0 7.5%; font-size: 1.466em; /*22px*/ line-height: 1.45em; box-sizing: border-box;}
.section--service .service__cont .text-wrap p {font-size: 0.9333em; line-height: 1.75em; color:#999;}

.section--service .service__cont .text-wrap button { margin-top: 8.3333%;}













/* 5. section--testimonials */
.section--testimonials {overflow-x:hidden; position: relative; height: 713px; margin-top: 7.35%; background: #fff9f8;}
.section--testimonials .article__group--testimonials {position: absolute; width: 100%; height: 100%;}
.section--testimonials .indicator--article {position: absolute; width: 100%; height: 100%; background: url(../images/quote.png) no-repeat; background-size: 3.152% auto; background-position-x: 50%; background-position-y: 135px;} /* positionY : js */
.section--testimonials .indicator--article .inner { margin: 0 auto;}
.section--testimonials .indicator--item {position: relative; text-align: center;}
.section--testimonials .indicator--item p { margin-top: 20.175%; padding: 0.877% 1.75%; font-family: 'Rufina', serif; font-size: 1.2em; font-weight: 700; line-height: 2em; color: #263a41;}
.section--testimonials .indicator--item .executive--photo {overflow:hidden; width: 6.666%; height: 76px; margin: 3.684% auto 0; border-radius: 50%; background: url(../images/manager.jpg)no-repeat 50% 10%;}
.section--testimonials .indicator--item .executive--name {display: inline-block; margin-top: 2.105%; font-size: 1em; font-weight: 400; line-height: 2em; color: #263a41;}
.section--testimonials .indicator--item .executive--name em {font-family: 'Rufina', serif; font-size: 1.466em; font-weight: 400;}

.section--testimonials .indicator__Btn--wrap{position: absolute; top:620px;}


.section--testimonials .slider__indicator--btn {display: flex; justify-content: space-between; align-items: center; position: absolute; bottom: 137px; left: 50%; width: 85px; transform: translateX(-50%);}
.section--testimonials .slider__indicator--btn li {overflow: hidden; position: relative; width: 10px; height: 10px;}
.section--testimonials .slider__indicator--btn li button {position:absolute;  width: 100%; height: 100%; background-color:#ffc3c2; border-radius: 50%; cursor: pointer;}
.section--testimonials .slider__indicator--btn .indicator--on button {background-color: #ff817e; transition: .3s;}

.section--testimonials .slider__arrow {display: flex;align-items: center;width:100%;height:100%;}
.section--testimonials .slider__arrow--inner {width: 63.058%; margin: 0 auto; z-index: 9999;}
.section--testimonials .slider__arrow a {display: inline-block; width: 25px; height: 46px; text-indent: -9999px; background-image: url(../images/arrow_btn_.png); background-size: cover; cursor:pointer;}
.section--testimonials .slider__arrow .arrow--prevBtn {float: left;}
.section--testimonials .slider__arrow .arrow--nextBtn {float: right; background-position-x: 65px;}


.section--testimonials .slider__rolling--btn {position: absolute; bottom: 100px; left: 50%; transform: translateX(-43%);}
.section--testimonials .slider__rolling--btn li {float:left; margin-right:15px; width: 13px; height: 13px;}
.section--testimonials .slider__rolling--btn li:last-child{margin-right:none;}

.section--testimonials .slider__rolling--btn li button{position:absolute; width: 8px; height: 8px; cursor: pointer; text-indent: -9999px;}
.section--testimonials .slider__rolling--btn .rolling--btn button{background-color: transparent; border:1px solid #999; border-radius: 50%;}
.section--testimonials .slider__rolling--btn .addClassBtn .rollingBtn{border: none; background-color: #999; transition: .3s;}

.section--testimonials .slider__rolling--btn .rolling--play{width: 10px;}
.section--testimonials .slider__rolling--btn .rolling--play button{width: 10px; height:11px; background-image: url(../images/arrow_btn_.png); background-position-x: 42px;}
.section--testimonials .slider__rolling--btn .addClassPlayPause button{background-position-x: 33px; background-color: transparent;}
/* .section--testimonials .slider__rolling--btn .rolling--play:hover button{background-position-x: 34px;} */




/* 6. section--Team */
.section--team .team__cont .manager--profile { position: relative; width: 31.578%; }
.section--team .team__cont .manager--profile figure { width: 100%; height: 434px; background: #f1f1f1;} /*height: js*/
.section--team .team__cont .manager--profile figcaption { overflow:hidden; position: absolute; bottom:-16.8%; width: 300px; width: calc(100% - 60px); margin: 0 30px; background: #fff; transition: ease-in .3s;}
.section--team .team__cont .manager--profile figcaption h3 { margin-top: 9.333%; font-size: 1.466em; font-weight: 700; line-height: 1.65em;}
.section--team .team__cont .manager--profile figcaption p { font-size: 0.933em; line-height: 1.642em; }

.section--team .team__cont figcaption .btn__sns {opacity: 0;}
.section--team .team__cont .on figcaption {box-shadow: 0 0 20px 3px rgba(0,0,0,.1); transition: .5s; transform: translateY(-20%); }
.section--team .team__cont .on .btn__sns {opacity: 1; margin: 9% 0;}




/* tiles hover */
.section--team .team__cont .on .btn__sns ul {display:inline-block; width:100%; padding: 0 21.33%; box-sizing: border-box;}
.section--team .team__cont .on .btn__sns li {float: left; width: 17.44%; height: 32px; margin-right: 8.82%;} /* height: js */
.section--team .team__cont .on .btn__sns li:last-child {margin-right: 0;}
.section--team .team__cont .on .btn__sns li a {display: inline-block; width: 100%; height: 100%; background: url(../images/team_sns.png)0 no-repeat; cursor: pointer; opacity:1; filter:Alpha(opacity=100); text-indent: -9999px}
.section--team .team__cont .on .btn__sns li:nth-child(2) a {background-position-x: -43px;}
.section--team .team__cont .on .btn__sns li:nth-child(3) a {background-position-x: -88px;}
.section--team .team__cont .on .btn__sns li:nth-child(4) a {background-position-x: -133px;}
.section--team .team__cont .on .btn__sns li:hover a {width:100%; background: url(../images/team_sns_hover.png)0 no-repeat; text-indent: -9999px; transition: .3s;}
.section--team .team__cont .on .btn__sns li a:focus {width:100%; background: url(../images/team_sns_hover.png)0 no-repeat; text-indent: -9999px; transition: .3s;}
.section--team .team__cont .on .btn__sns li:nth-child(2):hover a {background-position-x: -43px;}
.section--team .team__cont .on .btn__sns li:nth-child(2) a:focus{background-position-x: -43px;}
.section--team .team__cont .on .btn__sns li:nth-child(3):hover a {background-position-x: -88px;}
.section--team .team__cont .on .btn__sns li:nth-child(3) a:focus {background-position-x: -88px;}
.section--team .team__cont .on .btn__sns li:nth-child(4):hover a {background-position-x: -133px;}
.section--team .team__cont .on .btn__sns li:nth-child(4) a:focus {background-position-x: -133px;}



/* 7. appointment table */
.section--reserved {height: 642px; margin-top: 11.297%; background: #fff9f8; box-sizing: border-box;}
.section--reserved .reserved--wrap{max-width: 1530px; height:100%; margin:0 auto 0 0; box-sizing: border-box;}
.section--reserved .reserved--wrap .reserved__thumbnail {float: left; width: calc(100% - 50.849%); height: 100%; box-sizing: border-box;}
.section--reserved .reserved--wrap .reserved__thumbnail img {max-width: 100%; height: 100%; object-fit : cover;}
.section--reserved .reserved--wrap .reserved__cont {float: left;  width: calc(100% - 50.849%); padding-left: 5.58%; padding-top: 8.15%; text-align: left; box-sizing: border-box; }
.section--reserved .reserved--wrap .reserved__cont input, select {
    display: inline-block;
    width: 48.04%; height: 45px;
    margin: 0 3.00% 5.55% 0;
    padding-bottom: 1.951%;
    border-bottom: 1px solid #d4d3d3;
    background: none;
    font-size: 0.8em;
    color: #999;
    box-sizing: border-box;
    }
    .section--reserved .reserved--wrap .reserved__cont input:nth-child(even){margin-right: 0;}
.section--reserved .reserved--wrap .reserved__cont .reseve--date{background : url(../images/date.png)no-repeat 95% 9px;}
.section--reserved .reserved--wrap .reserved__cont .reseve--time{background : url(../images/time.png)no-repeat 95% 9px;}
.section--reserved .reserved--wrap .reserved__cont .form--note {width: 100%; margin-top: 11.11%; margin-right: 0; box-sizing: border-box;}
.section--reserved .reserved--wrap .reserved__cont .btn__primary--pink { width: 30.03%; margin: 0; padding:0 4.50%; box-sizing: border-box; }
.section--reserved .reserved--wrap .reserved__cont .btn__primary--pink span { font-size: 100%;}



/* 8.  section--blog */
.section--blog .tiles article { height: auto;}
.section--blog article .summary--img { width: 100%; height: 315px;}
.section--blog .article__blog--tiles{ height: 100%; box-sizing: border-box;}
.section--blog  .article_padding { height:100%; padding: 5.55%; box-sizing: border-box;}
.section--blog .article__blog--tiles .text-wrap .blog--date { margin-top: 11.00%; line-height: 1em;}
.section--blog .article__blog--tiles .text-wrap .blog--date span { font-size: 0.857em; color: #777;}
.section--blog .article__blog--tiles .text-wrap .blog--date span::after {display: inline-block; width: 1px; height: 10px; margin: 0 11px; background: #777; content: '';}

.section--blog .article__blog--tiles .text-wrap h3 { margin-top: 4.08%; font-size: 1.466em; line-height: 1.59em;}
.section--blog .article__blog--tiles .text-wrap p { margin-top: 5.555%; font-size: 0.933em; line-height: 1.78em;}
.section--blog .article__blog--tiles .text-wrap button { margin-top: 11.320% }



/* 9. section--contact */
.section--contact .contact__cont {display: flex; height: auto; padding: 7.63% 2.63% 0% 8.59%}
.section--contact .contact__cont .visit--info { width: 26.04%; margin-right: 12%;}
.section--contact .contact__cont .visit--info li {display: flex; position: relative; width: 100%; margin-bottom: 19.08%; box-sizing: border-box; }
/* .section--contact .contact__cont .visit--info li h3 {display: inline-block; width: 20%; height: 50px; border-radius: 50%; background: #ff817e url(../images/visit--info__icon.png)no-repeat; background-position-X: 16px; background-position-y: 15px; content: ''; text-indent: -9999px;} */
.section--contact .contact__cont .visit--info li h3 {display: inline-block;
    width: 20%; height: 50px; border-radius: 50%;
    background: #ff817e url(../images/visit--info__icon.png)no-repeat;
    background-size: cover;
    background-position-X: 16px; background-position-y: 15px;
    content: ''; text-indent: -9999px;}




.section--contact .contact__cont .visit--info li p {margin-left: 12%; font-size: 0.933em; line-height: 2em; text-align: left; color: #888;}
.section--contact .contact__cont .visit--info li p .email { display:inline-block; width: 100%; font-size: 1em; line-height: 2em; text-align: left; color: #888;}
.section--contact .contact__cont .visit--form { width: 54.71%; }
.section--contact .contact__cont .visit--form button {margin-top: 5.20%; margin-left: 0;}
.section--contact .contact__cont .visit--form input {width: 100%; height: auto; margin-bottom: 3.61%; padding : 3.074%  0 2.53% 3.61%; border: 1px solid #e3e6ea; color: #999; font-size: 0.933em; line-height: 1em; box-sizing: border-box;}
.section--contact .contact__cont .visit--form .input--board {width: 100%; height: 150px; padding: 4.51% 3.47% 15.27%; box-sizing: border-box;}
.section--contact .contact__cont .visit--form .btn__primary--pink { width: 30.74%; }

/* 10. footer */
footer {width: 100%; margin-top: 7.35%; background: #fff9f8;}
footer .inner {max-width: 1140px; margin: 0 auto; padding-top: 8.77%; text-align: center;}
footer .footer__logo {margin: 0 auto; width: 9.47%; height: 78px; text-indent: -9999px;}
footer .footer__logo a {display: block; width: 100%; height: 100%; background: url(../images/footer_logo.png)no-repeat; background-size: contain;}
footer .inner .footer__nav--bar {width: 46.49%; margin: 0 auto;}
footer .inner .footer__nav--bar .nav--bar {margin-top: 8.49%; justify-content: space-between;}
footer .inner .footer__nav--bar .nav--bar li a {font-size: 1em; line-height: 1em;}

footer .footer__list--sns ul{display: flex; justify-content: center; width:100%; margin-top: 2.631%;}
footer .footer__list--sns ul li {position: relative; margin: 0 1.31%;}
footer .footer__list--sns ul .facebook {margin: 0 1.22% 0 1.14%;}
footer .footer__list--sns ul li::before {position: absolute; left: 28px; width: 1px; height: 16px; background: #b1b4bb; content: '';}
footer .footer__list--sns ul .facebook::before {left: 21px;}
footer .footer__list--sns ul li:last-child::before {display: none;}
footer .footer__list--sns ul li a {display: block; text-indent: -9999px;}

    /* footer - type01 */
    footer .footer__list--sns {margin-top: 3.94%;}
    footer .footer__list--sns .footer--sns__type01 li a {background: url(../images/sns_sprite_ex.png)no-repeat;}
    footer .footer__list--sns .footer--sns__type01 .facebook a {width:7px; height:14px; background-position-x: 0;}
    footer .footer__list--sns .footer--sns__type01 .twitter a {width:13px; height:13px; background-position-x: -50px;}
    footer .footer__list--sns .footer--sns__type01 .instagram a {width:13px; height:14px; background-position-x: -100px;}
    footer .footer__list--sns .footer--sns__type01 .vingle a {width:13px; height:13px; background-position-x: -150px;}

    footer .footer__list--sns .footer--sns__type01 li:hover a {background: url(../images/sns_sprite_ex.png)no-repeat;}
    footer .footer__list--sns .footer--sns__type01 .facebook:hover a {width:7px; height:14px; background-position: 0 -50px;}
    footer .footer__list--sns .footer--sns__type01 .twitter:hover a {width:13px; height:11px; background-position: -50px -50px;}
    footer .footer__list--sns .footer--sns__type01 .instagram:hover a {width:13px; height:14px; background-position: -100px -50px;}
    footer .footer__list--sns .footer--sns__type01 .vingle:hover a {width:13px; height:11px; background-position: -150px -50px;}

    /* footer - type02 */

    footer .footer__list--sns .footer--sns__type02 .facebook {margin: 0 0.701% 0 1.14%;}
    footer .footer__list--sns .footer--sns__type02 li::before {left: 28px;}
    footer .footer__list--sns .footer--sns__type02 .facebook::before {left: 21px;}
    footer .footer__list--sns .footer--sns__type02 li a{position:relative; width:13px; height:14px;}
    footer .footer__list--sns .footer--sns__type02 li a::before{content: ''; position: absolute; top:0; left:0; width:13px; height:14px; background: url(../images/sns_sprite_ex.png)no-repeat;}
    footer .footer__list--sns .footer--sns__type02 .facebook a::before{background-position-x: 0;}
    footer .footer__list--sns .footer--sns__type02 .twitter a::before{background-position-x: -50px;}
    footer .footer__list--sns .footer--sns__type02 .instagram a::before{background-position-x: -100px;}
    footer .footer__list--sns .footer--sns__type02 .vingle a::before{background-position-x: -150px;}

    footer .footer__list--sns .footer--sns__type02 li:hover a::before{background: url(../images/sns_sprite_ex.png)no-repeat;}
    footer .footer__list--sns .footer--sns__type02 .facebook:hover a::before{background-position: 0 -50px;}
    footer .footer__list--sns .footer--sns__type02 .twitter:hover a::before{background-position: -50px -50px;}
    footer .footer__list--sns .footer--sns__type02 .instagram:hover a::before{background-position: -100px -50px;}
    footer .footer__list--sns .footer--sns__type02 .vingle:hover a::before{background-position: -150px -50px;}

    /* footer - type03 */
    footer .footer__list--sns .footer--sns__type03 .facebook {margin: 0 0.701% 0 1.14%;}
    footer .footer__list--sns .footer--sns__type03 li::before {left: 28px;}
    footer .footer__list--sns .footer--sns__type03 .facebook::before {left: 21px;}

    footer .footer__list--sns .footer--sns__type03 li a {width:13px; height:14px; background: url(../images/sns_sprite_ex.png)no-repeat;}
    footer .footer__list--sns .footer--sns__type03 .facebook a {background-position-x: 0;}
    footer .footer__list--sns .footer--sns__type03 .twitter a {background-position-x: -50px;}
    footer .footer__list--sns .footer--sns__type03 .instagram a {background-position-x: -100px;}
    footer .footer__list--sns .footer--sns__type03 .vingle a {background-position-x: -150px;}

    footer .footer__list--sns .footer--sns__type03 li:hover a {background: url(../images/sns_sprite_ex.png)no-repeat;}
    footer .footer__list--sns .footer--sns__type03 .facebook:hover a {background-position: 0 -50px;}
    footer .footer__list--sns .footer--sns__type03 .twitter:hover a {background-position: -50px -50px;}
    footer .footer__list--sns .footer--sns__type03 .instagram:hover a {background-position: -100px -50px;}
    footer .footer__list--sns .footer--sns__type03 .vingle:hover a {background-position: -150px -50px;}

footer p {margin-top: 4.21%; font-size: 0.86em; text-transform: uppercase; color: #888;}
footer p em {color: #ff817e;}



/* responsive */
/*
// 메인이미지 영역
// 1) 반응형, 창높이로 section1 영역 , main-content 영역 높이 설정 (높이가 작아지면 글이 중앙에 배치)
// 2) Title이 중앙(상하)에 배치 될 수 있도록
*/