/*: mobile ~ 767 */

@media ( max-width: 767px ){
    /* common */
    .tiles {display: block; margin-top: 34px;}
    .tiles article {width: 100%; margin: 0 auto 12px;}
    .tiles article:last-child {margin-bottom: 0;}
    .tiles article .article_img {padding-top: 184px;}
    .tiles__btn-list {width: 112px; height: 24px; margin-top: 20px; margin-bottom: 14px;}
    .tiles .text-wrap .btn__primary span {font-size: .6rem;}

    .section .title {padding: 0 16px;}
    .section .title h2 {margin-top: 2.97em; font-size: 1.33rem; }
    .section .title h2 + p {margin-top: 0.53em; font-size: .5rem;}

    /* header */
    header .inner {padding: 0 16px;}
    header .header__logo {padding: 0; margin-top: 10px;}
    header .header__logo a {width: 26px; height: 36px;}
    header .header__logo a img {max-width: 100%;}

    header .nav {position:relative; padding: 0;}
    /* header .nav .nav__btn-wrap {z-index: 9999999; position: absolute; top: 10px; right: 16px;} */
    header .nav .nav__btn-wrap {float: right;}
    header .nav .nav__btn-wrap .gnb__button {z-index: 9999999; position:absolute; top:10px; right: 0; display: block; width: 30px; height: 30px;line-height: 0; cursor: pointer; box-sizing: border-box;}
    header .nav .nav__btn-wrap .gnb__button span {position:absolute; top:0; left: 0; display: inline-block; width: 100%; height: 4px; background: #ff817e; box-sizing: border-box; transition: .3s;}
    header .nav .nav__btn-wrap .gnb__button span:nth-child(2) {top: 13px;}
    header .nav .nav__btn-wrap .gnb__button span:nth-child(3) {top: 26px;}
    header .nav .nav__btn-wrap .gnb__button .gnb--closebtn{display: inline-block; position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: transparent; text-indent: -9999px;}

    header .nav .nav__btn-x {position: fixed; right: 15px; z-index: 9999999; display: block;}
    header .nav .nav__btn-x span {position: absolute; transition: all .3s ease-in-out;}
    header .nav .nav__btn-x span:nth-child(1){transform: rotate(45deg); -webkit-transform: rotate(45deg); top: 9px;}
    header .nav .nav__btn-x span:nth-child(2){opacity: 0;}
    header .nav .nav__btn-x .gnb__button span:nth-child(3){transform: rotate(-45deg); -webkit-transform: rotate(-45deg); top: 9px;}

    /* click - nav__bar  */
    header nav .nav__bar--mo {position: fixed; top: 0; left: 100%; width: 100%;}
    header nav .nav__bar--mo .gnb__dimmed-bg {z-index: 998; display: inline-block; position: fixed; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.7);}
    header nav .nav__bar--mo .nav__bar--on{z-index: 999; display: block; position: absolute; left: 0; width: 100%; max-width: 767px; opacity: 1; overflow: hidden;}
    header nav .nav__bar--mo .nav__bar--on {top: 55px; padding : 5px 0;}
    header nav .nav__bar--mo .nav__bar--on li {width: 100%; margin-right: 0%; text-align: center; border-bottom: 1px solid #ff7474;}
    header nav .nav__bar--mo .nav__bar--on li a{padding: 8px 0; font-size: .8rem; color: #fff; background: #ff817e;}



    /* banner */
    .banner {margin-top: 30px; padding: 0; background-size: 150px 260px; background-position: 0 0;}/*bg사이즈 확인*/
    .banner .inner {padding-left: 80px; box-sizing: border-box;}
    .banner .inner .title {padding: 0 0;}
    .banner .inner .title strong{font-size: .5rem;}
    .banner .inner .title h2 {margin: 12px 0; font-size: 2rem;}
    .banner .inner .title p {margin-top: 0; font-size: .5rem; line-height: 1.86;}

    .banner .banner__btn {display: block; margin-top: 24px; line-height:0;}
    .banner .banner__btn-submit {width: 126px; height: 28px; padding-left: 14px; margin-right: 0;}
    .banner .banner__btn-submit .banner__btn-text {padding-left: 0; font-size: 0.43rem;}


    .banner .banner__btn-play{width: 130px; margin-top: 12px;}
    .banner .banner__btn-play .banner__btn-play-tit{margin-top: 0; margin-left: 50px; font-size: .5rem;}
    .banner .banner__btn-play::before {top: 1.6px; width: 22px; height: 22px;}
    .banner .banner__btn-play::after {left: 9px; top: 8px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 8px solid var(--color-pink);}
    .banner .banner__btn-submit .text-arrow {top: 11.8px; left: 102px; width: 7px; height: 7px; background: url(../images/767_arrow.png) no-repeat;}
    .banner .banner__btn-submit:hover .text-arrow {width: 7px; height: 7px; background-position: 0 bottom;}


    .about {padding-top: 100px; background: none;}
    .about .title {padding: 52px 0 0;}
    .about .title::before{width: 42px; height: 36px; top: -20%;}
    .about .title span {font-size: 0.66rem;}
    .about .title h2 {font-size: 1.33rem; margin-top: 1.5em;}
    .about .title p {font-size: 0.5em;}
    .about .title + button {margin-top: 33px;}
    .about .btn__primary--pink {width: 84px; height: 26px; font-size: .43rem;}


    /* .feature */
    .feature {margin-top: 18px;}
    .feature .feature__cont {position: relative; width: 100%;}
    .feature .feature__cont ul li {width: 62.05%; height: 284px; padding-top: 0; background-size: 14px; background-position: 50% 45%;}
    .feature .feature__cont ul li:hover { background-size: 14px; background-position: 50% 45%; }
    .feature .feature__cont ul li span {position: absolute; top: 50%; left: 50%; transform: translate(-50%); font-size: 0.73rem;}

    /* service */
    .service .tiles{display: block; margin-top: 34px; padding: 0 16px;}
    .service .tiles article {width: 100%; margin:0 auto 12px;}
    .service .tiles article:last-child{margin-bottom: 0;}

    .service .service__cont .text-wrap h3 {margin: 1.56em 0 .93em 0; font-size: 1rem;}
    .service .service__cont .text-wrap p {font-size: 0.66rem;}

    /* testimonials */
    .testimonials {height: 356px; margin-top: 36px; overflow-y: hidden;}
    .testimonials .slider__arrow-inner {width: 90%;}
    .testimonials .article__testimonials {background-size: 30px 25px; background-position-y: 64px;}
    .testimonials .testimonials__item p {margin: 12.6em 10.33em 0; font-size: 0.6rem;}
    .testimonials .testimonials__item .testimonials__photo {width: 38px; height: 38px; margin: 22.5px auto 0; background-size: contain;}
    .testimonials .testimonials__item .testimonials__name {margin-top: 2em; font-size: .5rem;}

        /* indicator */
        .testimonials .indicator {width: auto; bottom: 10%;}
        .testimonials .indicator li { width: 24px; height: 24px; padding: 3px; margin-right: 5px;box-sizing: border-box;}
        .testimonials .indicator .indicator--play-pause button {width: 21px; height: 22px; background-image: url(../images/indicator_767.png); background-position: 0px 0px;}
        .testimonials .indicator .is-pause button {background-position: 0px 30px;}
        .testimonials .indicator .indicator__btn {width: 24px; height: 24px}
        .testimonials .indicator .indicator__btn button {width: 18px; height: 18px; text-indent: -9999px;}




    /* team */
    .team .team__cont ul {padding: 0 16px;}
    .team .team__cont .team__manager {width: 100%; margin: 0 auto; margin-bottom: 30px;}
    .team .team__cont .team__manager:last-child {margin-right: auto;}
    .team .team__cont .team__manager figure {position: relative; height: 336px;}
    .team .team__cont .team__manager figcaption {top: 256px; left: 50%; width: calc(100% - 119px); height: 132px; margin: 0; transform: translateX(-50%);}
    .team .team__cont .team__manager figcaption h3 {margin-top: 1em; font-size:1.13rem;}
    .team .team__cont .team__manager figcaption p {font-size: .8rem;}
    .team .team__cont .team__manager figcaption .btn__sns {margin: .9em 0;}

    .team .team__manager .btn__sns {display: flex; justify-content: center;}
    .team .team__manager .btn__sns ul {width: 125px; height: 24px; margin: 0; padding: 0;}
    .team .team__cont .btn__sns li {width: 24px; height: 24px;}
    .team .team__cont .btn__sns li a {background-size: cover;}
    .team .team__cont .btn__sns li:hover a {background-size: cover;}
    .team .team__cont .btn__sns li a:focus {background-size: cover;}

    .team .team__cont .btn__sns li:nth-child(2) a {background-position-x: -30px;}
    .team .team__cont .btn__sns li:nth-child(3) a {background-position-x: -62px;}
    .team .team__cont .btn__sns li:nth-child(4) a {background-position-x: -96px;}

    .team .team__cont .btn__sns li:nth-child(2):hover a {background-position-x: -30px;}
    .team .team__cont .btn__sns li:nth-child(2) a:focus{background-position-x: -30px;}
    .team .team__cont .btn__sns li:nth-child(3):hover a {background-position-x: -62px;}
    .team .team__cont .btn__sns li:nth-child(3) a:focus {background-position-x: -62px;}
    .team .team__cont .btn__sns li:nth-child(4):hover a {background-position-x: -96px;}
    .team .team__cont .btn__sns li:nth-child(4) a:focus {background-position-x: -96px;}


    /* .reserved */
    .reserved {margin-top: 4em; padding: 32px;}
    .reserved .reserved__wrap .reserved__cont {padding: 0;}
    .reserved .reserved__wrap .reserved__cont input, select {width: calc(100% - 51%); margin-right: 0.83em; margin-bottom: 3.33em; font-size: 0.4rem; box-sizing: border-box;}
    .reserved .reserved__wrap .reserved__cont input:nth-child(even) {float:right;}
    .reserved .reserved__wrap .reserved__cont .form__note { width: 100%; margin: 2.66em 0 3.33em;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink {width: auto; height: 25px; padding:0 15px;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink span {font-size: 0.4rem;}
    .reserved .reserved__wrap .reserved__cont .reseve__date ,.reserved .reserved__wrap .reserved__cont .reseve__time{background-position: 95% 2px;}

    /* section--blog */
    .blog__cont {padding: 0 16px;}
    .blog .article__blog-tiles .text-wrap .blog__date {margin-top: 1.31em; margin-bottom: 0; font-size: 0.63rem; line-height: 2em;} /*font-size: 9.5px;*/
    .blog .article__blog-tiles .text-wrap h3 {margin-top: 0.97em; font-size: 1.16rem;} /*font-size: 17.5px;*/
    .blog .article__blog-tiles .text-wrap p {margin-top: 0.9em; font-size: 0.73em;} /*font-size: 11px;*/

    /* .contact */
    .contact .contact__cont {display: block; padding: 24px;}
    .contact .contact__cont .contact__info {width: 100%; margin-right: 0;}
    .contact .contact__cont .contact__info li {margin-bottom: 12px;}
    .contact .contact__cont .contact__info li h3 {width: 25px; height: 25px; background-position: 5px; background-size: 15px;}
    .contact .contact__cont .contact__info li p { margin-left: 2.5em; font-size: 0.4rem;}
    .contact .contact__cont .contact__form {width: 100%;}
    .contact .contact__cont .contact__form input {height: auto; margin-bottom: 1.6em; padding: 1.6em 0 1.6em 1.6em; font-size: 0.4rem; line-height: 1em;}
    .contact .contact__cont .contact__form .input--board {margin-bottom: 0; height: 74px; padding: 2.33em 0 8.66em 1.6em;}

    .contact .contact__cont .contact__form .btn__primary--pink {width: 112px; height: 24px; margin-top: 20px; margin-bottom: 14px; font-size: 0.43rem;}


    /* footer */
    footer {margin-top: 24px;}
    footer .inner {padding: 54px 16px 0 16px;}
    footer .footer__logo {width: 57.4px; height: 40px;}
    footer .inner .footer-nav__bar {width: 100%;}
    footer .inner .footer-nav__bar .nav__bar {margin: 26px 40px 0;}
    footer .inner .footer-nav__bar .nav__bar li a {font-size: 0.46em;}/*font-size: 7*/

    footer .footer__sns {margin-top: 22px;}
    footer .footer__sns ul li {width: 24px; height: 24px; margin: 0 14px 0 22px; box-sizing: border-box;}
    footer .footer__sns ul li::before {left: 38px; height: 24px;}
    footer .footer__sns ul li:last-child {margin-right: 0;}
    footer .footer__sns ul .facebook {margin-left: 0; margin-right: 14px;}
    footer .footer__sns ul .facebook::before {left: 38px;}

    footer .footer__sns .footer__sns--type01 li a {background: url(../images/sns_sprite_m.png)no-repeat;}
    footer .footer__sns .footer__sns--type01 .facebook a {width: 12px; height: 24px; margin-right: 12px;}
    footer .footer__sns .footer__sns--type01 .twitter a{width: 18px; height: 18px; background-position-x: -64px;}
    footer .footer__sns .footer__sns--type01 .instagram a {width: 18px; height: 19px; background-position-x: -127px;}
    footer .footer__sns .footer__sns--type01 .vingle a {width: 18px; height: 18px; background-position-x: -191px;}

    footer .footer__sns .footer__sns--type01 li:hover a {background: url(../images/sns_sprite_m.png)no-repeat;}
    footer .footer__sns .footer__sns--type01 .facebook:hover a {width: 12px; height: 24px; background-position:0 -48px;}
    footer .footer__sns .footer__sns--type01 .twitter:hover a {width: 18px; height: 18px; background-position: -64px -48px;}
    footer .footer__sns .footer__sns--type01 .instagram:hover a {width: 18px; height: 19px; background-position: -127px -47px;}
    footer .footer__sns .footer__sns--type01 .vingle:hover a {width: 18px; height: 18px; background-position: -191px -48px;}

    /* footer - type02 */
    footer .footer__sns .footer__sns--type02 .facebook { margin: 0; margin-right: 14px;}
    footer .footer__sns .footer__sns--type02 li{width: 24px; height: 24px; margin-right: 14px;}
    footer .footer__sns .footer__sns--type02 li::before {left: 38px;}
    footer .footer__sns .footer__sns--type02 .facebook::before {left: 38px;}
    footer .footer__sns .footer__sns--type02 li a {width: 0; height: 0;}
    footer .footer__sns .footer__sns--type02 li a::before {width:18px; height: 18px; background: url(../images/sns_sprite_m.png)no-repeat;}
    footer .footer__sns .footer__sns--type02 .facebook a::before {background-position-x: 0;}
    footer .footer__sns .footer__sns--type02 .twitter a::before {background-position-x: -64px;}
    footer .footer__sns .footer__sns--type02 .instagram a::before {background-position-x: -127px;}
    footer .footer__sns .footer__sns--type02 .vingle a::before {background-position-x: -191px;}

    footer .footer__sns .footer__sns--type02 li:hover a::before {background: url(../images/sns_sprite_m.png)no-repeat;}
    footer .footer__sns .footer__sns--type02 .facebook:hover a::before {background-position:0 -48px;}
    footer .footer__sns .footer__sns--type02 .twitter:hover a::before {background-position: -64px -48px;}
    footer .footer__sns .footer__sns--type02 .instagram:hover a::before {background-position: -127px -47px;}
    footer .footer__sns .footer__sns--type02 .vingle:hover a::before {background-position: -191px -48px;}

    /* footer - type03 */

    footer .footer__sns .footer__sns--type03 .facebook {margin: 0; margin-right: 14px;}
    footer .footer__sns .footer__sns--type03 li::before {left: 38px;}
    footer .footer__sns .footer__sns--type03 .facebook::before {left: 38px;}

    footer .footer__sns .footer__sns--type03 li a {width: 24px; height: 24px; background: url(../images/sns_sprite_m.png)no-repeat;}
    footer .footer__sns .footer__sns--type03 .facebook a {background-position-x: 0;}
    footer .footer__sns .footer__sns--type03 .twitter a {background-position-x: -64px;}
    footer .footer__sns .footer__sns--type03 .instagram a {background-position-x: -127px;}
    footer .footer__sns .footer__sns--type03 .vingle a {background-position-x: -191px;}

    footer .footer__sns .footer__sns--type03 li:hover a {background: url(../images/sns_sprite_m.png)no-repeat;}
    footer .footer__sns .footer__sns--type03 .facebook:hover a {background-position: 0 -48px;}
    footer .footer__sns .footer__sns--type03 .twitter:hover a {background-position: -64px -48px;}
    footer .footer__sns .footer__sns--type03 .instagram:hover a {background-position: -127px -47px;}
    footer .footer__sns .footer__sns--type03 .vingle:hover a {background-position: -191px -48px;}

}

/*: mobile ~ 380 */
@media ( max-width: 485px ){
    .testimonials {height: 435px;}
    footer .inner .footer-nav__bar .nav__bar {margin: 26px 20px 0;}
}

@media ( max-width: 321px ){
    .testimonials {height: 490px;}
    .reserved .reserved__wrap .reserved__cont input, select{width: calc(100% - 52%);}
}