/*: untill 768~1140  */

@media ( max-width: 1140px ) {
    .body__wrapper {min-width: 0; overflow: hidden;}

    /* common */
    .section .title {text-align: center;}

    /* common - tiles */

    /* header */
    header .inner {max-width: none;}

    /* section--banner */
    header .inner, section .inner {margin: 0;}
    .section--banner {padding: 5.52% 0 0 13.68%; background-size: 12.45% auto; box-sizing: border-box;}
    .section--banner .title {text-align: left;}
    .section--banner .title p {margin-top: 1.75%;}

    .section--banner .btn--submit {width: 15%; height: 44px; margin-right: 5.15%;}
    .section--banner .btn--submit span {padding: 0 18.620%; font-size: 8.8435%; box-sizing: border-box;}
    .section--banner .banner__summary--play {width: 14.91%;}
    .section--banner .banner__summary--play .btn--play {width: 23.52%; height: 40px;}

    /* section--about */
    .section--about {padding-top: 12.28%; background-position-y: calc(100% - 240px), calc(100% - 130px);}
    .section--about .title::before {width: 4.38%; height: 42px; top: 0;}
    .section--about .title {padding-top: 5.43%; text-align: center;}
    .section--about .title span {font-size: 0.86em; letter-spacing: 1.5px;}
    .section--about .title h2 {font-size: 1.66em;}
    .section--about .title p {font-size: 0.73em;}
    .section--about .btn__primary--pink {width: 8.77%; height: 30px; font-size: 15%;}

    /* section--feature */
    .section--feature {margin-top: 7.28%;}
    .section--feature .feature__cont ul li {position: relative; height: 338px; padding-top: 0; background-position: 50% 45%; background-size: 27px;}
    .section--feature .feature__cont ul li:hover {background-position: 50% 45%; background-size: 27px;}
    .section--feature .feature__cont ul li span {position: absolute; top: 180px; padding-top: 0; font-size: 14.35px; transform: translateX(-50%);} */
    .section--feature .feature__cont ul li ::before {position:absolute; top:0; left:0; width: 100%; height: 183px; border:1px solid #000; content: '';} */

    /* section--service  - 공통사항 확인 section--team */
    .section--service .tiles {margin-top: 7.894%;}
    .section--service .article__service-tiles {text-align: center;}
    .section--service .service__cont .text-wrap h3 {margin: 11.25% 0 6.5%;}
    .section--service .service__cont .text-wrap button {margin-bottom: 6.41%;}

    /* section--testimonials */
    .section--testimonials .slider__arrow--inner {width: 1000px;}
    .section--testimonials .indicator--article {background-size: 5.17% auto;}
    .section--testimonials .indicator--item p {padding: 0.877% 13.75%;}

    /* .section--team ..tiles article {} */
    .section--team .title h2 {margin-top: 130px;}
    .section--team .team__cont .manager--profile figcaption {text-align: center;}
    .section--blog .article__blog--tiles .blog--date {margin-bottom: 11px; line-height: 1.4em;}
    .section--blog .article__blog--tiles h3 {line-height: 1.4em;}
    .section--blog .article__blog--tiles p {margin-top: 17px; line-height: 1.7em;}
    .section--blog .article__blog--tiles button.btn__primary {width: 53.46%; margin-top: 3.07%; margin-bottom: 5.43%}
    .section--blog .article__blog--tiles button.btn__primary span {font-size: .9em;}

    /* section--reserved */
    .section--reserved {height: auto; margin-top: 17.105%; padding: 11.22% 0 11.40% 8.42%; box-sizing: border-box;}
    .section--reserved .reserved--wrap {max-width: none;}
    .section--reserved .reserved--wrap .reserved__thumbnail {display: none;}
    .section--reserved .reserved--wrap .reserved__cont {float: none; width: 100%; padding-left: 0; padding-top: 0; text-align: left;}
    .section--reserved .reserved--wrap .reserved__cont .form--note {width: calc(100% - 23.86%); margin-top: 5.38%;}
    .section--reserved .reserved--wrap .reserved__cont input, select {width: calc(100% - 63%); margin-right: 20px; margin-bottom: 3.91%;}

    .section--reserved .reserved--wrap .reserved__cont .btn__primary--pink {width: 19.45%; padding:0 2.9%;}
    .section--reserved .reserved--wrap .reserved__cont .btn__primary--pink span {font-size: 0.933em;}

    /* section--blog */
    .tiles article {text-align: center;}

    /* section--contact */
    .section--contact .title h2 {margin-top: 130px;}
    .section--contact .contact__cont {margin-top: 0; padding: 7.631% 8.596% 0;}

    /* footer */
    footer {margin-top: 12.28%;}
}

