/*: mobile ~ 767 */

@media ( max-width: 767px ){
    :root{
        /* color */
        --color-green: #a9c6a2;
        --color-pink: #c384b2;
        --color-yellow: #ded35c;
        --color-blue: #84b3c3;
    }


    /* header */
    header .inner {padding: 0 32px;}
    header .header__logo {padding: 0; margin-top: 20px;}
    header .header__logo a {width: 53px; height: 72px;}
    header .header__logo a img {max-width: 100%;}

    header .nav {padding: 0;}
    header .nav .gnb__button {display: grid; grid-template-rows: repeat(2, 1fr); float: right; width: 60px; height: auto; margin-top: 20px; cursor: pointer; box-sizing: border-box;}
    header .nav .gnb__button span {display: inline-block; width: 100%; height: 8px; margin-bottom: 20px; background: #ff817e; box-sizing: border-box;
        transition: .3s;}
    header .nav .gnb__button span:last-child{margin-bottom: 0;}
    header .nav .gnb__button span:nth-child(2){left:0%;}

    header .nav .addClosebar {position: relative; padding-top: 40px;}
    header .nav .addClosebar span {position: absolute; top: 50%; transition: .3s;}
    header .nav .addClosebar span:nth-child(1){transform: rotate(-135deg);}
    header .nav .addClosebar span:nth-child(2){opacity: 0;}
    header .nav .addClosebar span:nth-child(3){transform: rotate(135deg);}


    /* click - nav__bar  */
    header .nav__bar{display: none;}
    header .nav ul.nav__bar--on{display: block; position: absolute; left: 100%; width: 100%; opacity: 0;}
    header .nav ul.nav__bar--on {top: 110px; width: 100%; padding: 10px 0; box-sizing: border-box;}
    header .nav ul.nav__bar--on li {width: 100%; margin-right: 0%; text-align: center; border-bottom: 1px solid #fff;}
    header .nav ul.nav__bar--on li a{padding: 15px 0; font-size: 12px; color: #fff; background: #ff817e;}


    /* banner */
    .banner {margin-top:60px; padding: 0; background-size: 150px 290px; background-position: 0 0;}
    .banner .inner {padding-left: 160px; box-sizing: border-box;}
    .banner .inner .title h2 {margin: 23px 0;}
    .banner .inner .title p {margin-top: 0; line-height: 1.86em;}

    .banner .banner__btn {display: block; margin-top: 50px;}
    .banner .banner__btn-submit {width: 170px; height: 50px; margin-right: 0;}
    .about{margin-top: 90px; background: none;}

    .banner .banner__btn-play{margin-top: 47px;}
    .about {padding-top: 0;}
    .about .title {padding: 103px 0 0;}
    .about .title::before{width: 84px; height:70px;}
    .about .title span {font-size: 20px;}
    .about .title h2 {font-size: 42px; margin-top: 30px;}
    .about .title p {font-size: 15px;}
    .about .title + button {margin-top: 66px;}
    .about .btn__primary--pink {width: 170px; height: 50px; font-size: 13px;}


    /* .feature */
    .feature{margin-top: 77px;}
    .feature .feature__cont {width: 100%; height: 570px;}
    .feature .feature__cont ul li {width: 476px; height: 100%; padding-top: 310px; background-size: 42px;}
    .feature .feature__cont ul li:hover {background-size: 42px;}
    .feature .feature__cont ul li span {top: 305px; font-size: 22px;}

    /* service */
    .service .tiles{display: block; margin-top: 70px; padding: 0 32px;}
    .service .tiles h2{margin-top: 80px; line-height: 1.5em;}
    .service .tiles article {width: 100%; margin-bottom: 50px;}
    .service .tiles article:last-child{margin-bottom: 0;}

    .service .tiles article .article_img {height: 368px;}
    .service .service__cont .text-wrap h3 {margin: 47px 0 30px 0; font-size: 30px;}
    .service .service__cont .text-wrap p {font-size: 20px;}

    /* testimonials */
    .testimonials {margin-top: 72px;}
    .testimonials .testimonials__item p {padding-top: 50px;}
    /* .testimonials .testimonials__item .testimonials__photo {width: 10%;} */

    /* team */
    .team .title h2 {margin-top: 50px;}
    .team .team__cont ul {padding: 0 50px 0 47px;}
    .team .team__cont .team__manager {width: 100%; margin-bottom: 150px;}
    .team .team__cont .team__manager figure {position: relative; height: 672px;}
    .team .team__cont .team__manager figcaption {top: 590px; left: 50%; width: calc(100% - 119px); height: 188px; margin: 0; transform: translateX(-50%);}
    .team .team__cont .team__manager figcaption h3 {font-size: 2.26em;}
    .team .team__cont .team__manager figcaption p {font-size: 1.53em;}
    .team .team__cont .on figcaption {height: 265px; top: 510px;}
    .team .team__cont .on .btn__sns ul {width: 73.66%;}
    .team .team__cont .on .btn__sns li {width: 47px; height: 48px;}
    .team .team__cont .on .btn__sns li a {background-size: cover;}
    .team .team__cont .on .btn__sns li:hover a {background-size: cover;}
    .team .team__cont .on .btn__sns li a:focus {background-size: cover;}

    .team .team__cont .on .btn__sns li:nth-child(2) a {background-position-x: -61px;}
    .team .team__cont .on .btn__sns li:nth-child(3) a {background-position-x: -126px;}
    .team .team__cont .on .btn__sns li:nth-child(4) a {background-position-x: -192px;}

    .team .team__cont .on .btn__sns li:nth-child(2):hover a {background-position-x: -61px;}
    .team .team__cont .on .btn__sns li:nth-child(2) a:focus{background-position-x: -61px;}
    .team .team__cont .on .btn__sns li:nth-child(3):hover a {background-position-x: -126px;}
    .team .team__cont .on .btn__sns li:nth-child(3) a:focus {background-position-x: -126px;}
    .team .team__cont .on .btn__sns li:nth-child(4):hover a {background-position-x: -192px;}
    .team .team__cont .on .btn__sns li:nth-child(4) a:focus {background-position-x: -192px;}


    /* .reserved */
    .reserved .reserved__wrap .reserved__cont {padding: 127px 0;}
    .reserved .reserved__wrap .reserved__cont input, select {width: 320px;}
    .reserved .reserved__wrap .reserved__cont .form__note {margin-bottom:40px;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink {width: 200px; height: 50px;}
    .reserved .reserved__wrap .reserved__cont .btn__primary--pink span {font-size: 0.83rem;}

    /* section--blog */
    .blog__cont {padding: 0 40px;}
    .blog .article__blog-tiles .text-wrap .blog__date {margin-top: 50px; margin-bottom: 0; font-size: 19px; line-height: 2em;}
    .blog .article__blog-tiles .text-wrap h3 {margin-top: 17px; font-size: 35px;}
    .blog .article__blog-tiles .text-wrap p {margin-top: 20px; font-size: 22px;}

    /* .contact */
    .contact .contact__cont {display: block;}
    .contact .contact__cont .contact__info {width: 100%; margin-right: 0;}
    .contact .contact__cont .contact__info li {margin-bottom: 47px;}

    .contact .contact__cont .contact__form {width: 100%;}
    .contact .contact__cont .contact__form .input--board {margin-bottom: 0;}


    /* footer */
    .footer {margin-top: 50px;}
    footer .inner {padding: 110px 32px 0 32px;}
    footer .footer__logo {width: 115px;}
    footer .inner .footer-nav__bar {width: 100%; font-size: 0.933em;}
    footer .inner .footer-nav__bar .nav__bar {margin: 8.49% 7.28% 0 5.83%;}

    footer .footer__sns {margin-top: 45px;}
    footer .footer__sns ul .facebook::before {left: 16px;}
    footer .footer__sns ul li::before {left: 21px;}
    footer .footer__sns .footer__sns--type02 .facebook::before {left: 17px;}
    footer .footer__sns .footer__sns--type02 li::before {left: 21px;}
    footer .footer__sns .footer__sns--type03 .facebook::before {left: 17px;}
    footer .footer__sns .footer__sns--type03 li::before {left: 21px;}


    /* common */

    /* .section {padding: 0 32px;} */
    .tiles {display: block;}
    .tiles article {width: 100%; margin-bottom: 50px;}
    .tiles article:last-child {margin-bottom: 0;}
    .tiles article .article_img {padding-top: 65%;}
    .tiles__btn-list {width: 224px;}
    .tiles .text-wrap .btn__primary span {font-size: 18px;}
    .section .title h2 {margin-top: 60px;}
}

@media ( max-width: 383px ){

}