/*: untill 768~1140  */

@media ( max-width: 1140px ) {
    .body__wrapper {min-width: 0; overflow: hidden;}

    /* common */
    .section .title {text-align: center;}

    /* common - tiles */

    /* header */
    header .inner {max-width: none;}

    /* banner */
    header .inner, section .inner {margin: 0;}
    .banner {padding: 5.52% 0 0 13.68%; background-size: 12.45% auto; box-sizing: border-box;}
    .banner .title {text-align: left;}

    /* about */
    .about {padding-top: 12.28%; background-position-y: calc(100% - 240px), calc(100% - 130px);}
    .about .title::before {width: 4.38%; height: 42px; top: 0;}
    .about .title {padding-top: 5.43%; text-align: center;}
    .about .title span {font-size: 0.86em; letter-spacing: 1.5px;}
    .about .title h2 {font-size: 1.66em;}
    .about .title p {font-size: 0.73em;}
    .about .btn__primary--pink {width: 100px; height: 30px; font-size: 15%;}

    /* feature */
    .feature {margin-top: 7.28%;}
    .feature .feature__cont ul li {height: 338px; padding-top: 180px; background-size: 27px;}
    .feature .feature__cont ul li:hover {background-size: 27px;}
    .feature .feature__cont ul li span {font-size: 14.35px;} */

    /* service */
    .service .tiles {margin-top: 7.894%;}
    .service .article__service-tiles {text-align: center;}
    .service .service__cont .text-wrap h3 {margin: 11.25% 0 6.5%;}
    .service .service__cont .text-wrap button {margin-bottom: 6.41%;}

    /* testimonials */
    .testimonials .slider__arrow-inner {width: 1000px;}
    .testimonials .article__testimonials {background-size: 5.17% auto;}
    .testimonials .testimonials__item p {padding: 0.877% 13.75%;}

    .team .title h2 {margin-top: 130px;}
    .team .team__cont .team__manager figcaption {text-align: center;}
    .blog .article__blog-tiles .blog__date {margin-bottom: 11px; line-height: 1.4em;}
    .blog .article__blog-tiles h3 {line-height: 1.4em;}
    .blog .article__blog-tiles p {margin-top: 17px; line-height: 1.7em;}

    /* reserved */
    .reserved {height: auto; margin-top: 17.105%; padding: 11.22% 0 11.40% 8.42%; box-sizing: border-box;}
    .reserved .reserved__wrap {max-width: none;}
    .reserved .reserved__wrap .reserved__thumbnail {display: none;}
    .reserved .reserved__wrap .reserved__cont {float: none; width: 100%; padding-left: 0; padding-top: 0; text-align: left;}
    .reserved .reserved__wrap .reserved__cont .form__note {width: calc(100% - 23.86%); margin-top: 5.38%;}
    .reserved .reserved__wrap .reserved__cont input, select {width: calc(100% - 63%); margin-right: 20px; margin-bottom: 3.91%;}

    /* section--blog */
    .tiles article {text-align: center;}

    /* contact */
    .contact .title h2 {margin-top: 130px;}
    .contact .contact__cont {margin-top: 0; padding: 7.631% 8.596% 0;}

    /* footer */
    footer {margin-top: 12.28%;}


    /* common - tiles */
    .tiles .text-wrap button {margin-bottom: 6.41%;}
    .tiles .text-wrap .btn__primary span { font-size: .9em;}
}

